<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rakesh.mobile.qrreader">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:resizeableActivity="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:configChanges="keyboard|keyboardHidden|screenSize|screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CustomCaptureActivity"
            android:label="@string/app_name"
            android:configChanges="keyboard|keyboardHidden|screenSize|screenLayout|orientation"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".CreateCodeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:configChanges="keyboard|keyboardHidden|screenSize|screenLayout|orientation">
        </activity>
        <activity
            android:name=".HistoryActivity"
            android:label="@string/history"
            android:theme="@style/AppTheme"
            android:configChanges="keyboard|keyboardHidden|screenSize|screenLayout|orientation"
            android:screenOrientation="portrait">
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6477f8e82027c4fc1913186615e2499b605f9e0d" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>